:root{
    --fondo:#edc4b3;
    --boton2:#c38e70;
    --boton3:#99582a;
    --claro:#fff;
    --oscuro:#000;
    --fuente: 'Oswald', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--fondo);
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 3.8rem;
}

/*Utilidades*/

.colorb{
    color: var(--claro);
}

.container{ 
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.no-border{
    border: none;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    line-height: 2rem;
}
/* Globales*/

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

h1,h2,h3,h4{
    font-size: 400;
    text-transform: uppercase;
}
/* Navegacion */

.webp .header__img{
    background-image: url(../img/banner.webp);
}

.no-webp .header__img{
    background-image: url(../img/banner.jpg);
}

.header__img{
    background-position: center center;
    background-repeat:no-repeat ;    
    background-size: cover;
    height: 600px;
}
.header__contenido{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:  768px){
    .header__contenido{
        flex-direction: row;
    }
}

.header__logo{
    color: var(--claro);
    font-weight: 400;
}

.header__span{
    font-weight: 700;
}

.header__navegacion{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (min-width:  768px){
    .header__navegacion{
       flex-direction: row;
       padding-top: 0;
    }
}
.header__enlace{
    color: var(--claro);
    font-size: 2rem;
}

.header__text{
    margin-top: 8rem;
}

/*Entrada blog */
.entrada__blog{
    display: grid;
}

@media (min-width:  768px){
    .entrada__blog{
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}

.entrada__blogs{
    border-bottom: 1rem solid var(--boton2);
    margin-bottom: 2rem;
}

.entrada__blogs:last-of-type{
    border: none;
}

.boton{
    background-color: var(--oscuro);
    color: var(--claro);
    padding: 1.2rem;
    display: inline-block;
    margin: 2rem 0;
}

.boton:hover{
    cursor: pointer;
}

.aside__cursos{
    list-style-type: none;
}

.aside__curso{
    border-bottom:1rem solid var(--boton3) ;
    margin-bottom:2rem;
}

.aside__curso:last-of-type{
    border: none;
}

.aside__precio,
.aside__cupon{
    font-size: 2rem;
    font-weight: 700;
}

.aside__span{
    font-weight: 400;
}

.aside__boton--curso{
    background-color: var(--boton2);
    display: block;
    font-size: 2rem;
}

/* footer */

.footer{
    background-color: var(--oscuro);
}

.footer__navegacion{
    display: flex;
    gap: 2rem;
}

.footer__navegacion{
    order: -1;
}

@media (min-width:  768px){
    .footer__navegacion{
        order: 1;
    }
}
.header__enlace{
    color: var(--claro);
    
}

.footer__contenido{
    padding: 0;
}

/* Nosotros */
.nosotros{
    padding: 3rem;
}

.nosotros__bloque{
    display: grid;
    gap: 2rem;
}

@media (min-width:  768px){
    .nosotros__bloque{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.nosotros__img{
    height: 100%;
}

.nosotros__text{
    font-size: 2rem;
}
 /* Cursos */

 .cursos__bloque{
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 1rem solid var(--boton2);
    margin-bottom: 2rem ;
 }

 .cursos__bloque:last-of-type{
    border-bottom: none;
 }

 @media (min-width:  768px){
     .cursos__bloque{
        grid-template-columns: 1fr 2fr;
     }
 }

 /* Contacto */

 .contacto__imagen{
    background-image: url(../img/contacto.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
 }

 .form{
    background-color: var(--claro);
    padding: 2rem;
    margin: 0 auto;
    margin-top: -10rem;
    border-radius: 1rem;
    width: 95%;
}

.formulario__bloque{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 ;
}

@media (min-width: 480px) {
    .formulario__bloque{
       display: flex;
       flex-direction: row;
       margin:1rem  0;
       gap: 2rem;
    }
}

 .formulario__text{
    flex: 0 0 6rem;
 }

 .formulario__entrada{
     flex: 1;
 }

 .formulario__enviar{
    display: flex;
    justify-content: flex-end;
 }

 .boton--w100{
    width: 100%;
    padding: 1rem 2rem;
 }

 @media (min-width:  768px){
    .boton--w100{
        width: auto;
     }
 }

 /* Entrada */
 
@media (min-width:  768px){
    .entrada__img{
        padding: 4rem;
     }    
}
 .entrada__text{
    text-align: center;
    font-size: 1.8rem;
 }

 /*  Spinner */

.agregar{
    display: flex;
}

.quitar{
    display: none;
}

 .spinner{
    justify-content: center;
    align-items: center;
 }

 .sk-chase{
    border: 4px solid rgba(52, 227, 225, 0.8);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
 }

 @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .error{
    margin-left: 0rem;
    background-color: rgb(210, 65, 65);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0.5 0;
  }
  @media (min-width: 480px) {
    .error{
        margin-left: 8rem;
    }
  }

  .noEnviado{
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  .enviado{
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 0;
  }

